@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.account,
.update,
.dashboard,
.payment{
  display: flex;
  height: 90vh;
  justify-content: center;
 
}

.centerify{
  width:40%;
  position: absolute;
  top: 100px;
  left: 30%;
  text-align: center;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius:15px;
}

.nametags{
  color: black;
  background-color: antiquewhite;
  border-radius:5px;
}

.login-reg-panel{
  position: relative;
  text-align:center;
  width:70%;
  right:0;
  left:0;
  margin:auto;
  height:400px;
  background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
  background-color: rgba(255,255, 255, 1);
  height:500px;
  position:absolute;
  top:-50px;
  width:50%;
  right:calc(30% - 50px);
  transition:.3s ease-in-out;
  z-index:0;
  box-shadow: 0 0 15px 9px #00000096;
}
.row{
  border: 1px solid rgb(241, 231, 139);
  border-radius: 6px;
  width: 80%;
  box-shadow: 0 0 8px 5px #d1b3b396;
  margin-left: 10%;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
 
}

 .row #tags{
  flex: 30%;
  place-items: center;
  font-size: bold;
  text-align: left;
}

 .row #title{
  flex: 70%;
 
  text-align: left;
  font-size: strong;
}
.updateForm{
  margin-left: 20%;
}